<app_metering_devices_search></app_metering_devices_search>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th
          (click)="sortBy('id')"
          class="sortable"
          [ngClass]="{ 'sorted': sortField === 'id' }"
        >
          ID
          <span
            *ngIf="sortField === 'id'"
            [ngClass]="sort === 'asc' ? 'arrow-up' : 'arrow-down'"
          ></span>
        </th>
        <th
          (click)="sortBy('name')"
          class="sortable"
          [ngClass]="{ 'sorted': sortField === 'name' }"
        >
          Имя
          <span
            *ngIf="sortField === 'name'"
            [ngClass]="sort === 'asc' ? 'arrow-up' : 'arrow-down'"
          ></span>
        </th>
        <th
          (click)="sortBy('last_active')"
          class="sortable"
          [ngClass]="{ 'sorted': sortField === 'last_active' }"
        >
          Время последней активности
          <span
            *ngIf="sortField === 'last_active'"
            [ngClass]="sort === 'asc' ? 'arrow-up' : 'arrow-down'"
          ></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of apiService.devices">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.last_active || 'Нет данных' }}</td>
      </tr>
      <tr *ngIf="apiService.devices.length === 0">
        <td colspan="3">Данные загружаются или отсутствуют</td>
      </tr>
    </tbody>
  </table>
</div>
<app-metering-devices-pagination></app-metering-devices-pagination>
